{% extends 'base.html.twig' %}

{% block title %} Edit Movie Data {% endblock %}

{% block body %}

{{ form_start(form)}}
{{ form_widget(form)}}
{{ form_end(form)}}

<a href="/movies_home/">Go Back</a>

{% endblock %} 