{% extends 'base.html.twig' %}

{% block title %} Movie Titles{% endblock %}

{% block body %}
{% if MovieTitles %}
    <table id="home" class="table table-striped">
        <thead>
            <tr>
                <th> Movies</th>
            </tr>
        </thead>
        <tbody>
                <tr>
                    <td> Movie and Script info</td>
                      <td>  <a href="/scripts" class="btn btn-dark">Go</a> </td>
                     <td> Add a movie or script</td>
                    <td>
                        <a href="/add" class="btn btn-light">Go</a>
                    </td>
                </tr>
            </tbody>
    </table>
    {% else %}
        <p> No data to display. </p>
{% endif %}
{% endblock %}

{% block javascripts %}
    <script src="/js/main.js"></script>
{% endblock %}