{% extends 'base.html.twig' %}

{% block title %} Add Script Data {% endblock %}

{% block body %}

{{ form_start(form)}}
{{ form_widget(form)}}
{{ form_end(form)}}

<a href="/scripts/">Go Back</a>

{% endblock %} 