{% extends 'base.html.twig' %}

{% block title %} Movie Scripts{% endblock %}

{% block body %}
{% if ScriptTitles %}
    <table id="scripts" class="table table-striped">
        <thead>
            <tr>
                <th> Movie Script</th>
            </tr>
        </thead>
        <tbody>
            {% for ScriptTitle in ScriptTitles %}
                <tr>
                    <td> {{ ScriptTitle.Title }}</td>
                    <td>
                        <a href="/scripts/{{ ScriptTitle.id }}" class="btn btn-dark">Info</a>
                        <a href="/scripts/edit/{{ ScriptTitle.id }}" class="btn btn-light">Edit</a>
                        <a href="#" id="delete" class="btn btn-danger delete-article" data-id="{{ScriptTitle.id}}">Delete</a>

                    </td>
                </tr>
                {% endfor %}
            </tbody>
    </table>
    {% else %}
        <p> No data to display. </p>
{% endif %}
{% endblock %}

{% block javascripts %}
    <script src="/js/main.js"></script>
{% endblock %}